/* Page de Eliot */

body {
	margin: 0px;
	padding: 0px;
	font-family: Apple Chancery, cursive;
	text-shadow: 1px 1px 1px #212f3c;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

nav {
	background-color: #424558;
}

nav ul {
	margin-top: 0px;
	padding: 10px;
	margin-left: 2%;
	display: flex;
	justify-content: center;
}

nav li {
	width: 300px;
	list-style-type: none;
	border: 1px solid black;
	margin-left: 2%;
	background-color: #2F4F4F;
	padding: 10px;
	text-align: center;
}

nav a {
	padding: 25px;
	text-decoration: none;
	color: #FFF;
}

#page_accueil:hover {
	border-top: 5px solid #E44D26;
	background-color: RGBa(228, 77, 38, 0.15);
}

#infos:hover {
	border-top: 5px solid #0070BB;
	background-color: RGBa(000, 112, 192, 0.15);
}

#bilan:hover {
	border-top: 5px solid #F1DC4F;
	background-color: RGBa(241, 211, 79, 0.15);
}

#fiche_observation:hover {
	border-top: 5px solid #d7dbdd ;
	background-color: RGBa(231, 236, 241, 0.15);
}

div {
	display: flex;
	flex-wrap: wrap;
}

#p1 {
	border: 2px solid #2980b9;
	border-radius: 100px;
	background-color: #ecf0f1;
	font-size: 17px;
	margin-left: 7%;
	margin-top: 2%;
	text-align: center;
	color: #2980b9;
}

#p2 {
	border: 2px solid #d35400;
	border-radius: 100px;
	background-color: #ecf0f1;
	font-size: 17px;
	margin-left: 22%;
	text-align: center;
	margin-top: 0%;
	color: #d35400;
}

#p3 {
	border: 2px solid black;
	background-color: #ecf0f1;
	margin-left: 11%;
	color: #212f3c;
	text-align: justify;
	font-size: 20px;
}

#titre {
	border: 5px solid #2e86c1;
	border-radius: 15px;
	padding: 12px;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
	text-align: center;
	background-color: #fdfefe;
	color: #2e86c1;
}

figcaption {
	text-align: center;
	color: #212f3c;
}

#figure1 {
	border: 2px solid black;
	margin-left: 19.5%;
	margin-top: 2%;
}

#figure2 {
	border: 2px solid black;
	margin-left: 14%;
	margin-top: 0%;
}

#figure3 {
	margin-left: 2%;
	margin-top: 0%;
}

#altran {
	width: 120%;
}

#miniTitre {
	text-decoration: underline;
	display: block;
	text-align: center;
	font-size: 40px;
}

.important {
	color: #a93226;
}
