
/*Page d'Asim SAK*/


body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	font-family: Apple Chancery, cursive;
	text-shadow: 1px 1px 1px #212f3c;
	/*justify-content: space-between;*/


}

nav{
	background-color: #424558;

	
}

nav ul {
	margin-top: 0px;
	padding: 10px;
	margin-left: 2px;
	display: flex;
	justify-content: center;
}

nav li {
	width: 300px;
	list-style-type: none;
	border: 1px solid black;
	margin-left: 2%; 	
	background-color: #2F4F4F;
	padding: 10px;
	text-align: center;

}

nav a {
	padding: 25px;
	text-decoration: none;
	color: #FFF;
}

#page_accueil:hover {
	border-top: 5px solid #E44D26;
	background-color: RGBa(228, 77, 38, 0.15);
}

#infos:hover {
	border-top: 5px solid #0070BB;
	background-color: RGBa(000, 112, 192, 0.15);
}

#bilan:hover {
	border-top: 5px solid #F1DC4F;
	background-color: RGBa(241, 211, 79, 0.15);
}

#fiche_observation:hover {
	border-top: 5px solid #d7dbdd ;
	background-color: RGBa(231, 236, 241, 0.15);
}

#conteneur {
	justify-content: space-between;
	overflow: hidden;
}

#marge {
	float: left;
	border: 2px solid #707B7C;
	background-color: #707B7C;
	width: 15%;
}

h2 {
	height: 150px;
	width: 800px;
	border: 6px solid #2e86c1;
	background-color: #fdfefe;
	border-radius: 20px;
	margin-left: 28%;
	margin-top: 2%;
	padding-left: 2%;
	color: #2e86c1;



	display: flex;
}	

/*h1 p {
	border: 2px solid #2e86c1;;
	color: #2e86c1;
	margin: 2%;
	text-align: left;
	font-size: 18px;
	width: 500px;

}*/


h2 img {

    margin-left: 15%;
   

}	
#img{
	height: 390px;
	width: 900px;
	border: 2px solid black;
	margin-left: 27%;
	margin-top: 2%;
	display: flex;
	justify-content: center;

}	

/*span{
	display: block;
	text-align: center;
}*/


	
}
